h1 {background-color: beige;
    color:rgb(12, 219, 219) ;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 150px;
}

body {
    background-color: beige;
}
p {
    font-family: verdana;
    font-size: 18px;
  }
  .pic{ 
      
    width:190px;
    height:190px;
    float: left;
    margin-right: 15px;
}
.text1 {

    clear: left;
    margin-top: 200px;
    
    }


.text2{
    margin-top: 100px;
    

    background-color: aquamarine;
}

h3{
    text-align: center;

    font-family: verdana;
    font-size: 23px;
}



footer {
    margin-top: 50px;
    
    background-color:rgb(12, 219, 219);
}
ul{
    font-size: 18px;

}

  
